<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="Quizzam!"
        android:theme="@style/Theme.QuizApp"
        tools:targetApi="31">
        <activity
            android:name=".adminDelete"
            android:exported="false" />
        <activity
            android:name=".adminViewB"
            android:exported="false" />
        <activity
            android:name=".adminViewA"
            android:exported="false" />
        <activity
            android:name=".adminEditQuiz"
            android:exported="false" />
        <activity
            android:name=".adminModifyShowQuestion"
            android:exported="false" />
        <activity
            android:name=".adminModifyQuiz"
            android:exported="false" />
        <activity
            android:name=".adminAddQuiz"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".Overview"
            android:exported="false" />
        <activity
            android:name=".About_Us"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Result"
            android:exported="false" />
        <activity
            android:name=".Quiz_Questions"
            android:exported="false" />
        <activity
            android:name=".QuizNameMain"
            android:exported="false"
            android:label="Quizzam!" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>